.list-item {
    display: flex;
    align-items: center;
    height: 52px;
    padding-left: 16px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.list-item-name {
    padding-right: 8px;
    font-size: 14px;
    width: 80%;
    user-select: none;
}

.list-item-icon {
    display: flex;
    justify-content: center;
    width: 20%;
}

.selected {
    font-weight: 600;
    background-color: #a4cbff36;
}

.used {
    font-weight: 600;
}
